body {
    background: grey;
}
.form_zapros_cena {
    width: 384px;
    height: 546px;
    padding-left: 40px;
    padding-top: 40px;
}
h1 {
    height: 36px;
    width: 187px;
    border-radius: nullpx;
    font-family: Gilroy;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #3D489E;
    padding-left: 98px;
    
}
.page {
    height: 626px;
    width: 464px;
    border-radius: 0px;
    background: #fff;
}
.divinform {
    height: 25px;
    width: 384px;
    border-radius: 5px;
    background: #E5E5E5;
}